/* Global Styles */
body {
  padding-top: 56px;
  background-color: #6b6b6b;
}

/* Resources Styles */
#resource-currency-text {
  color: #e8d73b;
}

#resource-food-text {
  color: #7dff0d;
}

#resource-health-text {
  color: #ff0000;
}

#resources-bar {
  background-color: #a0afb8;
  visibility: hidden;
  margin-top: 55px;
}

/* Rules Styles */

.hero-unit {
  margin-top: 40px;
  background-color: greenyellow;
  padding: 10%;
}

.hero-unit,
p {
  text-align: center;
}

/* Level Styles */

#level {
  margin-top: 40px;
  background-color: #6b7ab8;
  padding: 10%;
  visibility: hidden;
}

/* Card Styles */

.card-body {
  visibility: hidden;
}

.viewing {
  visibility: visible;
}

.viewed {
  pointer-events: none;
}

.border-clicked {
  border: 5px solid gold;
}

.row {
  margin: 20px;
}

.clicked {
  visibility: hidden;
  height: 100%;
  position: absolute;
}

/* need a glow hover effect on entire card*/
